@use '../../../sass/styles' as *;

.button {
  @include border-radius(10px, 10px, 10px, 10px);
  @include transitions($onClick_button);
  margin: 3px;
  border: 1px solid $flag-1;
  color: $flag-1;
  text-shadow: 1px 1px 1px $blue-3;
  -webkit-box-shadow: 1px 1px 1px $blue-3;
  box-shadow: 1px 1px 1px $blue-3;
  background-color: transparent;

  &:is(:focus) {
    border: 1px solid $flag-1;
    color: $flag-1;
    text-shadow: 1px 1px 1px $blue-3;
    -webkit-box-shadow: 1px 1px 1px $blue-3;
    box-shadow: 1px 1px 1px $blue-3;
    background-color: transparent;
  }

  &:hover,
  &:checked {
    color: $blue-2;
    border: 1px solid $flag-1;
    text-shadow: none;
    background-color: transparent;
  }

  &:checked,
  &:active {
    @include transitions($offClick_buttn);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
