$hover_time: 200ms;
$hover_line: 0.2s;
$onClick_button: 400ms;
$offClick_buttn: 30ms;

$mobileS: '320px';
$mobileM: '375px';
$mobileL: '425px';
$tablet: '768px';
$laptop: '1024px';
$laptopL: '1440px';
$desktop: '2560px';
